cloudpickle      
contourpy           
cycler              
fonttools           
importlib_resources 
joblib              
kiwisolver        
llvmlite            
matplotlib          
mplcyberpunk       
numba             
numpy               
packaging           
pandas             
patsy           
pillow             
pip               
pyparsing           
python-dateutil   
pytz                
scikit-learn      
scipy               
seaborn        
setuptools         
shap             
six                
slicer            
statsmodels         
threadpoolctl     
tqdm                
typing_extensions   
tzdata             
xgboost            
zipp                